body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background: #020617;
  padding: 20px;
  font-size: 24px;
}

.game-box {
  background: #1e293b;
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
}
